*.txt
*.cfg
Neural/
.cache/
compile_commands.json
!CMakeLists.txt
build/
build_cpu/
build_ninja/
build_ninja_cpu/
build*/
configs/
doxygen_output/
Geom_*/
Geometry_*/
Hybrid_*/
*.dat
*.dox
*.bat
FFE*
Saved/
ThirdParty/
twisty-config/
.vscode/
NormalTest_Arclength_50/
Test_Cpu_Fix_FFE/
Test_Normals/
# unitweights/
!FFE*.cpp
Optimal*
*.csv
CachedPython/
CachedWeightTables/
*.fnd
*.zip
python_sandbox/
*.xlsx
*cppcheck*
CudaProfiling/
unitweights/python
*.nvprof
Neural/python/__pycache__/
Dataset/
Neural/python/runs/
Neural/python/latest
Neural/python/models/
Neural/python/*.exr
Neural/python/working_model/
