*.txt
!CMakeLists.txt
build/
doxygen_output/
Geom_*/
Geometry_*/
Hybrid_*/
*.dat
*.dox
*.bat
FFE*
Saved/
ThirdParty/
twisty-config/
.vscode/
NormalTest_Arclength_50/
Test_Cpu_Fix_FFE/
Test_Normals/
# unitweights/
!FFE*.cpp
Optimal*
*.csv
CachedPython/
*.fnd
*.zip
python_sandbox/
*.xlsx